<div class="container my-5">
  <h1 class="text-center">PDF - title</h1>
  <h2 class="text-left">PDF - subtitle</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque commodi tempore, officia veniam debitis facilis reiciendis error corporis laborum aliquam, ipsa voluptatibus, ad id nobis esse porro, ex illum?</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque commodi tempore, officia veniam debitis facilis reiciendis error corporis laborum aliquam, ipsa voluptatibus, ad id nobis esse porro, ex illum?</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque commodi tempore, officia veniam debitis facilis reiciendis error corporis laborum aliquam, ipsa voluptatibus, ad id nobis esse porro, ex illum?</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque commodi tempore, officia veniam debitis facilis reiciendis error corporis laborum aliquam, ipsa voluptatibus, ad id nobis esse porro, ex illum?</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque commodi tempore, officia veniam debitis facilis reiciendis error corporis laborum aliquam, ipsa voluptatibus, ad id nobis esse porro, ex illum?</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque commodi tempore, officia veniam debitis facilis reiciendis error corporis laborum aliquam, ipsa voluptatibus, ad id nobis esse porro, ex illum?</li>
  </ul>
</div>
